* {
  box-sizing: border-box;
}

body {
  background-color: #4bda42;
}

.car {
  width: 10rem;
  transition: transform 1s;
  position: absolute;
}

.south {
  transform: rotate(90deg);
}

.west {
  transform: rotate(180deg);
}

.north {
  transform: rotate(270deg);
}
